main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/* -------------------------------*/
section {
    /*padding-top: var(--altoLogo);*/
    min-height: 100vh;
}

/* -------- BOTON SCROLL-UP ---------*/
.button-scroll-up {
    background-color: var(--color1);
    position: fixed;
    bottom: 2vh;
    left: calc(2vw);
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-scroll-up.hidden {
    opacity: 0;
    visibility: hidden;
}
/* ------ DARK THEME -------*/
.dark {
    background-color:#4d4c4c;
    color: rgb(17, 17, 17);
}
/* ------ RESPONSIVE DESIGN ------ */ 
@media screen and (max-width:800px) {
    main {
        width: 100%;
    }
}